@mixin centered-content {
  width: 90vw;
  width: clamp(16rem, 90vw, 90rem);
  margin-inline: auto;
}

@mixin border-button {
  text-decoration: none;
  transition: background-color 200ms;
  border: solid 1px var(--danger);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: var(--fg);
  line-height: 1.4;
  &:hover,
  &:focus-visible {
    color: var(--neutral-900);
    background-color: var(--danger);
  }
}

@mixin shadow {
  box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.007),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.01),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.013),
    100px 100px 80px rgba(0, 0, 0, 0.02);
}
