@mixin centered-content {
  width: 90vw;
  width: clamp(16rem, 90vw, 90rem);
  margin-inline: auto;
}

@mixin border-button {
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 200ms, transform 200ms;
  border: solid 1px var(--danger);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: var(--fg);
  line-height: 1.4;
  &:hover,
  &:focus-visible {
    color: var(--neutral-900);
    background-color: var(--danger);
  }

  &:active:not(:disabled) {
    transform: translate(2px, 2px);
  }
}

@mixin shadow {
  box-shadow: 8px 2.9px 5.3px rgba(0, 0, 0, 0.016),
    26.8px 9.8px 17.9px rgba(0, 0, 0, 0.024),
    120px 44px 80px rgba(0, 0, 0, 0.04);
}

@mixin strong-shadow {
  box-shadow: 4.5px 1.7px 3.6px rgba(0, 0, 0, 0.017),
    12.5px 4.8px 10px rgba(0, 0, 0, 0.025),
    30.1px 11.5px 24.1px rgba(0, 0, 0, 0.033),
    100px 38px 80px rgba(0, 0, 0, 0.05);
}

@mixin card {
  z-index: 10;
  background-color: var(--bg-secondary);
  @include strong-shadow;
  border-radius: 0.5rem;
  padding: var(--space-m) var(--space-l-xl);
}

@mixin card-max-width {
  max-width: calc(clamp(16rem, 90vw, 90rem) - (2 * var(--space-l-xl)));
}
