body {
  --bg-transition: 0ms;
  color: var(--fg);
  background-color: var(--bg);
  transition: background-color var(--bg-transition);
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--step-1);
}

main > * {
  @include centered-content;
  margin-top: var(--space-xl-3xl);
}
