---
import Layout from "@/layouts/Layout.astro";
// @ts-ignore
import { Content as ProjetoTexto } from "@/data/projetos.md";
import { getProjects } from "@/composables/getProjects";
import ProjectCard from "@components/ProjectCard.astro";

const posts = await Astro.glob("../data/projects/*.md");

const projects = await getProjects(posts);
---

<Layout pageName="Vue Filter">
  <div class="projetos">
    <div class="projetos__texto">
      <h1>Projetos</h1>
      <ProjetoTexto />
    </div>
    {
      projects
        .sort((a, b) => b.weight - a.weight)
        .map((project) => {
          return <ProjectCard project={project} />;
        })
    }
  </div>
</Layout>

<style lang="scss">
  .projetos {
    @include card;
    @include centered-content;
  }

  h1 {
    font-size: var(--step-3);
    margin-bottom: var(--space-s);
  }

  .projetos__texto {
    margin-bottom: var(--space-xl);
    max-width: 100ch;
  }
</style>
