---
import Layout from "@/layouts/Layout.astro";
import { getPicture } from "@astrojs/image";
// @ts-ignore
import ProjectFilter from "@components/ProjectFilter.vue";
import { Content as ProjetoTexto } from "@/data/projetos.md";
import { getProjects } from "@/composables/getProjects";

const posts = await Astro.glob("../data/projects/*.md");

const projects = await getProjects(posts);
---

<Layout pageName="Vue Filter">
  <div class="projetos__texto">
    <h1>Projetos</h1>
    <ProjetoTexto />
  </div>

  <div class="projetos__filter">
    <ProjectFilter client:load projects={projects} />
  </div>
</Layout>

<style lang="scss">
  h1 {
    font-size: var(--step-3);
  }

  .projetos__filter {
    @include card;
    @include centered-content;
  }
</style>
