---
import { Image } from "@astrojs/image/components";
import { getIconFromArray } from "@/composables/getIcon";
import type { Tech } from "@/composables/getIcon";

interface Props {
  title: string;
  linkLive?: string;
  linkGh?: string;
  linkReadMore?: string;
  imgSrc: ImageMetadata;
  techList: Tech[];
}

const { title, linkLive, linkGh, linkReadMore, imgSrc, techList } = Astro.props;
---

<div class="project">
  <h3 class="project__title">
    {title}
  </h3>
  <div class="project__flex">
    <div class="project__text">
      <slot />
      <div class="project__icons">
        {
          getIconFromArray(techList).map((icon) => {
            return <Fragment set:html={icon} />;
          })
        }
      </div>
    </div>
    <Image
      alt={`Screenshot do projeto ${title}`}
      src={imgSrc}
      width={600}
      ratio="16:9"
      format="webp"
      class="project__screenshot"
    />
  </div>
</div>

<style lang="scss">
  .project {
    margin-top: var(--space-l);
  }

  .project__flex {
    margin-top: var(--space-s);
    display: flex;
    align-items: start;
    flex-wrap: wrap-reverse;
    row-gap: var(--space-m);
    column-gap: var(--space-l);
  }

  .project__title {
    font-size: var(--step-2);
  }

  .project__icons {
    display: flex;
    column-gap: var(--space-m);
    font-size: var(--step-3);
    color: var(--bg-details);
    margin-top: var(--space-m);
  }

  .project__text {
    flex: 1 0 400px;
    max-width: 70ch;
  }

  .project__screenshot {
    height: auto;
  }
</style>
