<div class="footer">
  Renato Lacerda · 2023
  <ul class="footer__social" role="list">
    <li><a href="/">Linkedin</a></li>
    <li><a href="/">GitHub</a></li>
    <li><a href="/">CodePen</a></li>
    <li><a href="/">Mastodon</a></li>
    <li><a href="/">Twitter</a></li>
  </ul>
</div>

<style lang="scss">
  .footer__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: var(--space-x);
  }

  .footer {
    font-size: var(--step--1);
    text-align: center;
    margin-top: var(--space-l-xl);
    padding-block: var(--space-m);
  }
</style>
