---
import heroImage from "@/assets/images/hero-image.png";
import { Image } from "@astrojs/image/components";
---

<div class="hero">
  <div class="hero__grid">
    <Image
      alt="Foto de Renato"
      src={heroImage}
      aspectRatio="1:1"
      height={400}
      format="webp"
      quality={90}
      class="hero__image"
    />
    <div class="hero__text">
      <h1>Olá, eu sou o Renato</h1>
      <p>Desenvolvedor Front End</p>
      <a class="hero__cta" href="/projetos"> Veja meus projetos</a>
    </div>
  </div>
</div>

<style lang="scss">
  .hero__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
    justify-content: center;
    justify-items: center;
    row-gap: var(--space-l);
    padding-inline: 1rem;
  }

  .hero__image {
    height: 100%;
    box-shadow: 2px -4px 0 4px var(--danger);
    background-color: var(--danger);
    border-radius: 100%;
  }

  .hero__text {
    text-align: center;
    display: grid;
    align-content: center;
    line-height: 1.2;
    gap: var(--space-s);

    h1 {
      font-size: var(--step-4);
    }

    p {
      font-size: var(--step-3);
    }
  }

  .hero__cta {
    text-decoration: none;
    transition: background-color 200ms;
    border: solid 1px var(--danger);
    width: fit-content;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    color: var(--fg);
    line-height: 1.4;
    font-size: var(--step-2);
    margin-inline: auto;

    &:hover,
    &:focus-visible {
      color: var(--neutral-900);
      background-color: var(--danger);
    }
  }
</style>
