---
import ProjectCardSimple from "./ProjectCardSimple.astro";
import oscarImage from "@/assets/images/project-oscar.png";
import contrastImage from "@/assets/images/project-contrast.png";
---

<div class="projects">
  <h2>Projetos</h2>
  <ProjectCardSimple
    title="Nomeações Oscar"
    imgSrc={oscarImage}
    link="https://sequelamovies.web.app/"
    linkReadMore="/projetos/nomeacao-oscar"
    techList={[
      "HTML5",
      "SASS",
      "Typescript",
      "Astro",
      "Node",
      "Mongo",
      "Firebase",
    ]}
  >
    <p>
      Esse projeto buscou criar uma forma fácil de mostrar os filmes nominados e
      vencedores da Premiação do Oscar de cada ano. Além de uma visão geral de
      todos os filmes nomiados naquele determinado ano, há também uma página
      para cada premiação.
    </p>
    <p>
      Cada filme é representado por uma fícha que contém o título em inglês e em
      portugues, poster, tempo de duração, gêneros, diretor e elenco principal,
      além de uma lista de todas as categorias que foi indicado.
    </p>
    <p>
      As informações foram coletadas por um script que utiliza uma API e um
      banco de dados para cruzar as informações de cada filme.
    </p>
  </ProjectCardSimple>

  <ProjectCardSimple
    title="Multiple Contrast Checker"
    imgSrc={contrastImage}
    link="https://multiple-contrast-checker.netlify.app/"
    linkReadMore="/projetos/contrast-checker"
    techList={[
      "HTML5",
      "SASS",
      "Javascript",
      "Vue",
      "Bulma",
      "Vite",
      "Netlify",
    ]}
  >
    <p>
      Esse projeto é um Web App que permite verificar o nível de contraste entre
      diferentes cores ao mesmo tempo, ajudando a determinar se uma combinação
      de cor possui o contraste necessário para se encaixar nos parametros de
      acessibilidade da <a href="https://webaim.org/articles/contrast/">WCGA</a
      >.
    </p>
    <p>
      É possível adicionar, modificar e remover cores utilizando um seletor de
      cores ou modificando a representação da cor em RGB. Mesmo após fechar ou
      reiniciar o Web App, as cores escolhidas permanecem salvas.
    </p>
    <p>
      Uma Matrix de Resultados mostra quais são os valores de contraste entre
      cada cor de segundo plano e primeiro plano, e se esse valor passa o limiar
      de contraste requerido pela WCGA. O valor do contraste é exibido em uma
      caixa que utiliza as cores escolhidas.
    </p>
  </ProjectCardSimple>

  <a href="/projects/" class="project__button"> Veja todos meus projetos</a>
</div>

<style lang="scss">
  .projects {
    position: relative;
    z-index: 10;
    background-color: var(--bg-secondary);
    box-shadow: 4.5px 1.7px 3.6px rgba(0, 0, 0, 0.017),
      12.5px 4.8px 10px rgba(0, 0, 0, 0.025),
      30.1px 11.5px 24.1px rgba(0, 0, 0, 0.033),
      100px 38px 80px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    padding: var(--space-m) var(--space-l-xl);
  }

  h2 {
    font-size: var(--step-3);
  }

  .project__button {
    display: block;
    width: fit-content;
    font-size: var(--step-1);
    margin-top: var(--space-xl);
    @include border-button;
  }
</style>
