---
import ProjectCard from "./ProjectCard.astro";
import { getProjects } from "@/composables/getProjects";

const projectFiles = await Astro.glob("../data/projects/*.md");
const projects = await getProjects(projectFiles);
---

<div class="projects">
  <h2>Projetos</h2>
  {
    projects
      .sort((a, b) => b.weight - a.weight)
      .slice(0, 2)
      .map((project) => {
        return <ProjectCard project={project} />;
      })
  }
  <a href="/projects/" class="project__button"> Veja todos meus projetos</a>
</div>

<style lang="scss">
  .projects {
    position: relative;
    z-index: 10;
    background-color: var(--bg-secondary);
    box-shadow: 4.5px 1.7px 3.6px rgba(0, 0, 0, 0.017),
      12.5px 4.8px 10px rgba(0, 0, 0, 0.025),
      30.1px 11.5px 24.1px rgba(0, 0, 0, 0.033),
      100px 38px 80px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    padding: var(--space-m) var(--space-l-xl);
  }

  h2 {
    font-size: var(--step-3);
    margin-bottom: var(--space-m);
  }

  .project__button {
    display: block;
    width: fit-content;
    font-size: var(--step-1);
    margin-top: var(--space-xl);
    @include border-button;
  }
</style>
