---
import TheHead from "@components/TheHead.astro";

interface Props {
  pageName: string;
}

const { pageName } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt">
  <TheHead pageName={pageName} />
  <body>
    <slot />
  </body>
</html>
