---
import NavBar from "@components/NavBar.astro";
import TheHead from "@components/TheHead.astro";

import "@/styles/index.scss";
import TheFooter from "@components/TheFooter.astro";

interface Props {
  pageName: string;
}

let { pageName } = Astro.props;

const title = pageName
  ? `Renato Lacerda | ${pageName}`
  : "Renato Lacerda | Portfólio";
---

<!DOCTYPE html>
<html lang="pt">
  <head>
    <TheHead title={title} />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }

      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body>
    <!--
Olá, obrigado por olhar meu portfólio. 

Esse site foi criado utilizando Astro,
se você quer ler o código fonte,
ele está disponível no meu github:

https://github.com/ralacerda/astro-portfolio
-->

    <NavBar />
    <main>
      <slot />
    </main>
    <footer>
      <TheFooter />
    </footer>
  </body>
</html>
